body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #0f0f10; /* Light gray */
  color: #e7eff9; /* Dark gray */
}

.app {
  text-align: center;
}

.home {
  padding: 30px;
  background-color: #ffffff; /* White */
  border-radius: 8px;
  max-width: 1000px;
  margin: 50px auto;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  color: #0f0f10;
}

.task-form {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.task-input {
  width: 60%;
  padding: 15px;
  margin-right: 10px;
  border: 1px solid #d1d5db;
  border-radius: 4px;
  font-size: 16px;
  outline: none;
}

.task-input:focus {
  border-color: #3b82f6; /* Blue */
  box-shadow: 0 0 5px rgba(59, 130, 246, 0.5);
}

.add-task-button {
  padding: 15px 25px;
  background-color: #3b82f6; /* Vivid Blue */
  color: #ffffff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.add-task-button:hover {
  background-color: #2563eb; /* Darker Blue */
}

.task-sections {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.task-section {
  width: 30%;
  background-color: #ffffff;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.task-section h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  text-align: center;
  color: #374151; /* Medium gray */
  border-bottom: 2px solid #e5e7eb;
  padding-bottom: 10px;
}

.task-section ul {
  list-style-type: none;
  padding: 0;
}

.task-section ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  background-color: #f9fafb; /* Subtle Light Gray */
  border: 1px solid #e5e7eb;
  border-radius: 4px;
  padding: 10px 15px;
  transition: background-color 0.3s;
}

.task-section ul li:hover {
  background-color: #e5e7eb; /* Slightly darker gray */
}

.task-section button {
  padding: 5px 15px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.move_to_ongoing {
  background-color: #22c55e; /* Green */
  color: #ffffff;
}

.move_to_ongoing:hover {
  background-color: #16a34a; /* Darker Green */
}

.move_to_completed {
  background-color: #3b82f6; /* Blue */
  color: #ffffff;
}

.move_to_completed:hover {
  background-color: #2563eb; /* Darker Blue */
}

.delete-task-button {
  background-color: #ef4444; /* Red */
  color: #ffffff;
}

.delete-task-button:hover {
  background-color: #dc2626; /* Darker Red */
}

.delete-task-button {
  background-color: #ef4444; /* Red */
  color: #ffffff;
  padding: 5px 15px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.delete-task-button:hover {
  background-color: #dc2626; /* Darker Red */
}